<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>
</head>
<body>
<div th:if="${article != null}">
    <h2 th:text="${article.title}"></h2>
    <p>작성자: [[${article.writer}]]</p>
    <textarea rows="5" cols="60" th:text="${article.content}" readonly></textarea><br>
    <button th:href="@{/article/{id}/update(id=${article.id})}">수정</button>&nbsp;&nbsp;&nbsp;
    <button th:href="@{/article/{id}/delete(id=${article.id})}">삭제</button><br>
    <hr>
    <!-- 댓글 FORM -->
    <form th:action="@{/article/{id}/comment/(id=${article.id})}" method="post">
        <h3>댓글</h3>
        <label>
            작성자 : <input type="text" name="comment_writer">
        </label><br><br>
        <label>
            댓글 : <textarea name="comment_content" rows="5" cols="40"></textarea>
        </label><br><br>
        <label>
            비밀번호 : <input type="password" name="comment_password">
        </label><br><br>
        <button type="submit">등록</button>
    </form>
    <hr>
    <a th:href="@{/boards/{id}(id=${article.board.id})}">게시판으로 돌아가기</a><br>
</div>
</body>
</html>